db/
db/**
incremental_db/
incremental_db/**
output_files/
output_files/**
simulation/
simulation/**
.qsys_edit/
.qsys_edit/**

*.rpt
*.done
*.summary
*.pof
*.qarlog
*.qws
*.sof
*.bak
*.txt
*.sld
*.jdi
*.fit.smsg
*.pin
*.cdf

*.DS_Store